*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

# npm
npm-debug.log*
.npm

# Yarn
yarn-error.log
.yarn-cache
.yarn-metadata.json

# OS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs
*.log

# Environment
.env
.env.local
.env.*.local
